include ../../json/team-json.pug
    //- include ../mixins/loop.pug
    //-     +loop()
    #team
        each tag in content
            .team-foto
                img(src= tag.src_title alt= tag.alt_title)
                img(src= "./assets/team/foto_next-2.png")
                img(src= "./assets/team/foto_next-3.png")
            .team-info
                section(class= tag.class_info)
                    h2= tag.h2_info
                    h4= tag.h4_info.toUpperCase()
                    p= tag.p_info
                    nav 
                        - var hrefs = ["facebook", "linkedin", "twitter"];
                            each hrf in hrefs
                                a(href=`${"https://www."}${hrf}${".com/"}`)= `${"   • "}` + hrf.toUpperCase()
                    section
                        .team-pagin
                            .next
                                img(src=tag.src_pag_next alt=tag.alt_pag_next)
                                .next-info
                                    .next-arrow= (tag.p_pag_next).toUpperCase()
                                        img(src= tag.src_pag_next_but)
                                    h4= tag.h4_pag_next 
                            .prev
                                //- img(src= tag.src_pag_prev alt= tag.alt_pag_prev)
                                .prev-info
                                    .prev-arrow= tag.p_pag_prev.toUpperCase()
                                        img(src= tag.src_pag_prev_but)
                                    //- h4= tag.h4_pag_prev 

