
include ./map-google/map-google.pug
include ../../json/contacts-json.pug

    #contacts
        each tag in content
            .contacts-info
                h2 Meet Us <br> in Your City
                p 2005 Stokes Isle Apt. 896, <br> Los Angeles 10010

                .cities
                    each tag in cities
                        .city
                            img(src= tag.src_city_det, alt= tag.alt_city_det)
                            .cities-details
                                button(class= tag.but_class)
                                    h4= tag.h4_city_det
                                    p= tag.p_city_det                        

            .contacts-map
                .map-google
                    #map
                .map-info
                    h3= tag.h4_city_det
                    p= tag.p_city_det

                    .map-details                     
                        each tag in details         
                            .details-head
                                img(src= tag.src_det_head, alt= tag.alt_det_head)
                                h4= tag.h4_det_head
                            .details-list
                                p= tag.p_det_list_1
                                p= tag.p_det_list_2